.face{
    border: 6px solid rgb(77, 210, 126);
    height: 100px;
    width: 150px;
    background-color: greenyellow;
    border-radius: 160px 160px 0px 0px;
    margin-top: 90px;
    margin-left: 190px;    
}
#eyes1{
    border: 1px solid white;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: white;
    margin-top: 60px;
    margin-left: 30px;
}
#eyes2{
    border: 1px solid white;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: white;
    margin-top: -12px;
    margin-left: 100px;
}
.arml{
    border: 2px solid greenyellow;
    height: 100px;
    width: 30px;
    background-color: greenyellow;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 150px;   
}
.body{
    border: 2px solid greenyellow;
    height: 140px;
    width: 150px;
    margin-top: -130px;
    margin-left: 195px;
    background-color: greenyellow;
    border-radius: 0px 0px 30px 30px;   
}
.arm2{
    border: 2px solid greenyellow;
    height: 100px;
    width: 30px;
    background-color: greenyellow;
    border-radius: 30px;
    margin-top: -120px;
    margin-left: 360px;
}
.legl{
    border: 1px solid greenyellow;
    height: 80px;
    width: 30px;
    border-radius: 30px;
    margin-top: 0px;
    margin-left: 220px;
    background-color: greenyellow;  
}
.legr{
    border: 1px solid greenyellow;
    height: 80px;
    width: 30px;
    border-radius: 30px;
    margin-top: -81.5px;
    margin-left: 290px;
    background-color: greenyellow;
}

body{
    background-color: rgb(77, 210, 126);
}

@keyframes headmoving {
    0%{
        width: 150px;
    }
    50%{
        width: 200px;
        transform: skew(-20deg);
        transform-origin: top;
    }
    75%{
        width: 250;
    }
}

@keyframes moveslefthand {
    50%{
        transform: rotate(90deg);
        transform-origin: top;
    }
}

@keyframes movesrighthand {
    0%{
        transform-origin: top; 
    }
    50%{
        transform: rotate(-90deg);
        transform-origin: top;
    }
}

@keyframes bodymoves {
    0%{
        border-radius: 60px;
        transform: rotate(360deg);
    }
    100%{
        border-radius: 60px;
    }
}

@keyframes legslmoving {
    50%{
        transform: rotate(30deg);
        transform-origin: top;
    }
}

@keyframes legsrmoving {
    50%{
        transform: rotate(-30deg);
        transform-origin: top;
    }
}

.abc:hover .face{
    animation: headmoving 1s infinite;
}
.abc:hover .arml{
    animation: moveslefthand 1s infinite;
}
.abc:hover .body{
    animation: bodymoves 1s infinite;
}
.abc:hover .arm2{
    animation: movesrighthand 1s infinite;
}
.abc:hover .legl{
    animation: legslmoving 1s infinite;
}
.abc:hover .legr{
    animation: legsrmoving 1s infinite;
}